#repeat-text {
    font-size: xx-large;
    display: none;
}
#hello-text {
    font-size: xx-large;
    display: none;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./1.jpeg');
}
.button-container {
    display: flex;
    flex-direction: row;
}
.selector-button1 {
    margin: 5px;
    height: 40px;
    font-family: monospace;
    box-shadow: 3px 3px rgb(245, 245, 158);
    border: none !important;
    background-color: #EFEFEF;
}
.selector-button2 {
    margin: 5px;
    height: 40px;
    font-family: monospace;
    box-shadow: 3px 3px rgb(245, 245, 158);
    border: none !important;
    color: #fff;
}
.selector-button2:hover {
    background-color: rgb(73, 145, 187) !important;
    transform: scale(1.08);
}
.selector-button3 {
    margin: 5px;
    height: 40px;
    font-family: monospace;
    box-shadow: 3px 3px rgb(245, 245, 158);
    border: none !important;
    color: #fff;
}
.selector-button3:hover {
    background-color: rgb(74, 128, 50) !important;
    transform: scale(1.08);
}
input {
    border-radius: 10px;
    border: none;
    height: 30px;
    font-family: monospace;
}